- title "Черный список клиентов"

.page-container
	.logo
		= image_tag "logo.jpg"
	.search-form
		= form_tag "/", :method => "get" do
			%p
				%label{:for => "query"}	— Находится ли в «черном» списке
				= text_field_tag :query, params[:query], :id => "query"
				= submit_tag "Поиск", :name => nil
				?
				%span.hint ФИО
				
	.content	
		= answer if params[:query].present?

	.counter
		= counter_result